@using SPCPP.Model.Models
@model PaginaList<User>
@{
    ViewData["Title"] = "Listagem de Usuários";
}

<div class="text-center">
    <div class="d-grid gap-2 d-md-flex justify-content-md-start">
    </div>

    @if (TempData["MensagemSucesso"] != null)
    {
        <div class="alert alert-success" role="alert">
            <button type="button" class="btn btn-danger btn-sm close-alert" arial-label="Close">X</button>
            @TempData["MensagemSucesso"]
        </div>
    }

    @if (TempData["MensagemErro"] != null)
    {
        <div class="alert alert-danger" role="alert">
            <button type="button" class="btn btn-danger btn-sm close-alert" arial-label="Close">X</button>
            @TempData["MensagemErro"]
        </div>
    }

    <h1 class="display-4">Listagem de Usuários</h1>
    <br />

    @using (Html.BeginForm("Index", "User", FormMethod.Get))
    {
        <p>
            Pesquisar por nome: @Html.TextBox("pesquisar", ViewBag.Filter as string)
            <input type="submit" value="Buscar" />
        </p>
    }

    <table class="table" id="table-usuarios">
        <thead>
            <tr>
  
                <th scope="col">#</th>
                <th scope="col">@Html.ActionLink("Nome", "Index", new { Ordenar = ViewBag.NameParm, Filter=ViewBag.Filter })</th>
                <th scope="col">@Html.ActionLink("Login", "Index", new { Ordenar = ViewBag.LoginParm, Filter=ViewBag.Filter })</th>
                <th scope="col">@Html.ActionLink("Email", "Index", new { Ordenar = ViewBag.EmailParm, Filter=ViewBag.Filter })</th>
                <th scope="col">@Html.ActionLink("Perfil", "Index", new { Ordenar = ViewBag.PerfilParm, Filter=ViewBag.Filter })</th>
                <th scope="col">@Html.ActionLink("Data de Cadastro", "Index", new { Ordenar = ViewBag.DateParm, Filter=ViewBag.Filter })</th>
                <th scope="col">@Html.ActionLink("Data de atualização", "Index", new { Ordenar = ViewBag.DateAttParm , Filter=ViewBag.Filter})</th>


                <th scope="col"> <a role="button" class="btn btn-primary mb-0 " style="width:9.2rem!important font-size:12px" asp-controller="User" asp-action="Criar">Novo Usuário</a></th>
            </tr>
        </thead>
        <tbody>
            @if (Model != null && Model.Any())
            {
                foreach (var usuario in Model)
                {
                    <tr>
                        <th scope="row">@usuario.Id</th>
                        <td>@usuario.Nome</td>
                        <td>@usuario.Login</td>
                        <td>@usuario.Email</td>
                        <td>@(usuario.Perfil == SPCPP.Model.Enums.PerfilEnum.Admin ? "Administrado" : "Padrão")</td>
                        <td>@usuario.DataCadastro</td>
                        <td>@usuario.DataAtualizacao</td>
                        <td>
                            <div>
                                <a role="button" class="btn btn-primary" asp-route-id="@usuario.Id" asp-controller="User" asp-action="Editar">Editar</a>
                                <a role="button" class="btn btn-danger" asp-route-id="@usuario.Id" asp-controller="User" asp-action="Deletar">Deletar</a>
                            </div>
                        </td>
                    </tr>
                }
            }


        </tbody>
    </table>

    @{
        var anterior = !Model.PaginaAnterior ? "disabled" : "";
        var meio = !Model.ProximaPagina && !Model.PaginaAnterior ? "display:none" : "";
        var proximo = !Model.ProximaPagina ? "disabled" : "";

    }
    <a asp-action="Index" asp-route-pagina="@(Model.PaginaInicial-1)" asp-route-Filter="@(ViewBag.Filter)" asp-route-Ordenar="@(ViewBag.OrdenarPg)" class="btn btn-default @anterior"> Anterior</a>
    @using (Html.BeginForm("Index", "User", FormMethod.Get, new { style = @meio }))
    {

        @Html.TextBox("pagina" )
        <div style="display:none;">
        @Html.TextBox("Filter", ViewBag.Filter as string)
        @Html.TextBox("Ordenar", ViewBag.OrdenarPg as string)
            <input type="submit" />
        </div>

    }
    <a asp-action="Index" asp-route-pagina="@(Model.PaginaInicial+1)" asp-route-Filter="@(ViewBag.Filter)" asp-route-Ordenar="@(ViewBag.OrdenarPg)" class="btn btn-default @proximo"> Próximo</a>
</div>
<script>
    $(function () {
        $('form').each(function () {
            $(this).find('input').keypress(function (e) {
                // Enter pressed?
                if (e.which == 10 || e.which == 13) {
                    this.form.submit();
                }
            });

            $(this).find('input[type=submit]').hide();
        });
    });
</script>


</script>