@using SPCPP.Model.Models
@model PaginaList<Professor>

@{
    ViewData["Title"] = "Listagem de Professores vinculados ";
    
}

<div class="text-center">
    <div class="d-grid gap-2 d-md-flex justify-content-md-start">
    </div>

    @if (TempData["MensagemSucesso"] != null)
    {
        <div class="alert alert-success" role="alert">

            @TempData["MensagemSucesso"]
            <button type="button" class="btn btn-danger btn-sm close-alert" arial-label="Close">X</button>
        </div>
    }

    @if (TempData["MensagemErro"] != null)
    {
        <div class="alert alert-danger" role="alert">
            @TempData["MensagemErro"]
            <button type="button" class="btn btn-danger btn-sm close-alert" arial-label="Close">X</button>
        </div>
    }
    


    <h1 class="display-4">LISTA DE CANDIDATOS EM  @TempData["Posgraduacao"]</h1>
    <br />
    <div class="buscar">
    @using (Html.BeginForm("ListarProfVinculados", "Posgraduacao_Professor", FormMethod.Get))
    {
        <p>
           Nome: @Html.TextBox("nome", ViewBag.Filter as string)
            <button type="submit" class="btn btn-info">Buscar</button>
        </p>
    }
    </div>
    
    <table class="table" id="table-professors">
        <thead>
            <tr>
                
                <th scope="col">@Html.ActionLink("Siape", "ListarProfVinculados", new { Ordenar = ViewBag.SiapeParm, Nome=ViewBag.Nome })</th>
                <th scope="col">@Html.ActionLink("Nome", "ListarProfVinculados", new { Ordenar = ViewBag.CnomeParm, Nome=ViewBag.Nome })</th>
                <th scope="col">@Html.ActionLink("Email", "ListarProfVinculados", new { Ordenar = ViewBag.EmailParm, Nome=ViewBag.Nome })</th>
                <th scope="col">@Html.ActionLink("Data Nascimento", "ListarProfVinculados", new { Ordenar = ViewBag.Data_NascParm, Nome=ViewBag.Nome })</th>
                <th scope="col">@Html.ActionLink("Data Exoneracao", "ListarProfVinculados", new { Ordenar = ViewBag.Data_exoneracaoParm, Nome=ViewBag.Nome })</th>
                <th scope="col">@Html.ActionLink("Data Saida", "ListarProfVinculados", new { Ordenar = ViewBag.Data_saidaParm, Nome=ViewBag.Nome })</th>
                <th scope="col">@Html.ActionLink("Data Aposentadoria", "ListarProfVinculados", new { Ordenar = ViewBag.Data_aposentadoriaParm , Nome=ViewBag.Nome})</th>
                <th scope="col">@Html.ActionLink("Carga Horária", "ListarProfVinculados", new { Ordenar = ViewBag.Carga_atualParm , Nome=ViewBag.Nome})</th>
                <th scope="col">@Html.ActionLink("Status", "ListarProfVinculados", new { Ordenar = ViewBag.StatusParm , Nome=ViewBag.Nome})</th>



                <th scope="col"> <a role="button" class="btn btn-primary mb-0 " style="width:9.2rem!important" asp-controller="Professor" asp-action="Create">Novo Usuário</a></th>
            </tr>
        </thead>
        <tbody>             
                @if (Model != null && Model.Any())
                {
                    foreach (var professor in Model)
                    {
                    <tr>
                        <th scope="row">@professor.siape</th>
                        <td>@professor.Cnome</td>
                        <td>@professor.Email</td>
                        <td>@professor.Data_nasc</td>
                        <td>@professor.Data_exoneracao</td>
                        <td>@professor.Data_saida</td>
                        <td>@professor.Data_aposentadoria</td>
                        <td>@professor.Carga_atual</td>
                        <td>@professor.Status</td>
                        <td>
                            <div>
                                <a role="button" class="btn btn-danger" onclick="deletar(@professor.user_id,@ViewBag.PosId)">Deletar</a>
                            </div>
                        </td>
                    </tr>
                    }
                }

        </tbody>
        
    </table>
</div>

<div class="paginationn">
    @{
        var anterior = !Model.PaginaAnterior ? "disabled" : "";
        var meio = !Model.ProximaPagina && !Model.PaginaAnterior ? "display:none" : "";
        var proximo = !Model.ProximaPagina ? "disabled" : "";

    }
    <a asp-action="ListarProfVinculados" asp-route-id="@(ViewBag.Id)" asp-route-pagina="@(Model.PaginaInicial-1)" asp-route-Filter="@(ViewBag.Filter )" asp-route-Ordenar="@(ViewBag.OrdenarPg)" class="btn btn-primary @anterior"> Anterior</a>
    @using (Html.BeginForm("ListarProfVinculados", "Posgraduacao_Professor", FormMethod.Get, new { style = @meio }))
        {

        @Html.TextBox("pagina" ,null, new { maxlength="3"})
            <div style="display:none;">
                @Html.TextBox("Filter", ViewBag.Filter as string)
                @Html.TextBox("Ordenar", ViewBag.OrdenarPg as string)
                <input type="submit" />
            </div>

        }
    <a asp-action="ListarProfVinculados" asp-route-id="@(ViewBag.Id)" asp-route-pagina="@(Model.PaginaInicial+1)" asp-route-Filter="@(ViewBag.Filter )" asp-route-Ordenar="@(ViewBag.OrdenarPg)" class="btn btn-primary @proximo"> Proximo</a>

</div>
<div class="paginationlocation">
    <p>@(Model.PaginaInicial) de @(Model.TotalPaginas)</p>
</div>

<script>

    function deletar(id_user,pos_id) {
       
        $.ajax({
            url: '/Posgraduacao_Professor/Delete',
            method: 'Get',
            data: { id: id_user,
                    posid: pos_id},
        }).done(function (valido) {
            if (valido.valido) {
                alert('Professor deletado com sucesso dessa Pós Graduação!')
                location.reload()
            } else {
                alert('Não foi possivel deletar o Professor dessa Pós Graduação!')
            }
        }).fail(function () {
            console.log("Erro2")
        });

    }

    function pesquisar () {

        
        var valor = $("#pesquisar").attr('href').replace("sub", $("#pesquisarnome").val())
        $("#pesquisar").attr("href", valor)
        
    }
    



</script>