@using SPCPP.Model.Models
@using SPCPP.Model.Models.Request
@model PaginaList<ProfessorCadastrado>

@{
    ViewData["Title"] = "Listagem de Professores vinculados ";
    
}

<div class="text-center">
    <div class="d-grid gap-2 d-md-flex justify-content-md-start">
    </div>

    @if (TempData["MensagemSucesso"] != null)
    {
        <div class="alert alert-success" role="alert">

            @TempData["MensagemSucesso"]
            <button type="button" class="btn btn-danger btn-sm close-alert" arial-label="Close">X</button>
        </div>
    }

    @if (TempData["MensagemErro"] != null)
    {
        <div class="alert alert-danger" role="alert">
            @TempData["MensagemErro"]
            <button type="button" class="btn btn-danger btn-sm close-alert" arial-label="Close">X</button>
        </div>
    }
    


    <h1 class="display-4">LISTA DE CANDIDATOS EM  @TempData["Posgraduacao"]</h1>
    <br />
    <div class="buscar">
    @using (Html.BeginForm("ListarProfVinculados", "Posgraduacao_Professor", FormMethod.Get))
    {
        <p>
           Nome: @Html.TextBox("nome", ViewBag.Filter as string)
            <button type="submit" class="btn btn-info">Buscar</button>
        </p>
    }
    </div>
    
    <table class="table" id="table-professors">
        <thead>
            <tr>
                
                <th scope="col">@Html.ActionLink("Siape", "ListarProfVinculados", new { Ordenar = ViewBag.SiapeParm, Nome=ViewBag.Nome })</th>
                <th scope="col">@Html.ActionLink("Nome", "ListarProfVinculados", new { Ordenar = ViewBag.CnomeParm, Nome=ViewBag.Nome })</th>
                <th scope="col">@Html.ActionLink("Email", "ListarProfVinculados", new { Ordenar = ViewBag.EmailParm, Nome=ViewBag.Nome })</th>
                <th scope="col">@Html.ActionLink("Data de Nascimento", "ListarProfVinculados", new { Ordenar = ViewBag.Data_NascParm, Nome=ViewBag.Nome })</th>
                <th scope="col">@Html.ActionLink("Data de Cadastro", "ListarProfVinculados", new { Ordenar = ViewBag.DataCadastroParm, Nome=ViewBag.Nome })</th>
                @*<th scope="col">@Html.ActionLink("Data Exoneracao", "ListarProfVinculados", new { Ordenar = ViewBag.Data_exoneracaoParm, Nome=ViewBag.Nome })</th>
                <th scope="col">@Html.ActionLink("Data Saida", "ListarProfVinculados", new { Ordenar = ViewBag.Data_saidaParm, Nome=ViewBag.Nome })</th>
                <th scope="col">@Html.ActionLink("Data Aposentadoria", "ListarProfVinculados", new { Ordenar = ViewBag.Data_aposentadoriaParm , Nome=ViewBag.Nome})</th>*@               
                <th scope="col">@Html.ActionLink("Status", "ListarProfVinculados", new { Ordenar = ViewBag.StatusParm , Nome=ViewBag.Nome})</th>
                <th scope="col">@Html.ActionLink("Nota", "ListarProfVinculados", new { Ordenar = ViewBag.NotaParm , Nome=ViewBag.Nome})</th>

                
            </tr>
        </thead>
        <tbody>             
                @if (Model != null && Model.Any())
                {
                    foreach (var professor in Model)
                    {
                    <tr>
                        <th scope="row">@professor.siape</th>
                        <td>@professor.Cnome</td>
                        <td>@professor.Email</td>
                        <td>@professor.Data_nasc</td>
                        <td>@professor.DataCadastro</td>
                        @*<td>@professor.Data_exoneracao</td>
                        <td>@professor.Data_saida</td>
                        <td>@professor.Data_aposentadoria</td>*@
                        <td>@professor.status</td>
                        <td>@professor.nota</td>
                        @*<td>
                            <div>
                                <a role="button"  onclick="deletar(@professor.user_id,@ViewBag.PosId)"><img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACMAAAAjCAYAAAAe2bNZAAAACXBIWXMAAAsTAAALEwEAmpwYAAABXUlEQVR4nO2YPy8EURRHj1AIUdiE0MhGRaJYUVCSSNQKShW+ALXESiwqSp2Shm+gpUBNUGxNQbLJrorc5Ekm8ubNztw7q5mT3Ezmzru/OfNnk81AgT29wKCnpN9RxoBX4NtTdWDc6kQl4BA4DVQ9RiQqFJo/cHcxkaOEE1mVXHAimx2SWW/3Uc0AizmW5BeYsAPc5VCSm5q9nF7cahaZjf/+FUVZCgSeA1NA7U9/3/UvArOSm5rJQOCEW9MDfLmebLvbmJVjqekLBJYj6xquJ9tfyoHZfjLybizzhoIHY5l7jcyVscylRubEWOZYI7NtLLOlkVk1llnRyMwZy8xqZEaNZUY0Ml1Ay0im5fJUvBjJPGPAtSe4kiAz7ZmRHDVnnuAbYNn9n226XtPtS//WMyM5aqoxL2Pa2rWQWTOSkRw1w8CnUuQDGMKIBeApo8gjME8ODMR8eYgrWV+Alh+Xya1XdMvQDwAAAABJRU5ErkJggg=="></a>
                            </div>
                        </td>
                        *@
                    </tr>
                    }
                }

        </tbody>
        
    </table>
</div>
@if (Model.TotalPaginas > 1)
{
    <div class="paginationn">
        @{
            var anterior = !Model.PaginaAnterior ? "disabled" : "";
            var proximo = !Model.ProximaPagina ? "disabled" : "";

        }
        <a asp-action="ListarProfVinculados" asp-route-id="@(ViewBag.Id)" asp-route-pagina="@(Model.PaginaInicial-1)" asp-route-Filter="@(ViewBag.Filter )" asp-route-Ordenar="@(ViewBag.OrdenarPg)" class="btn btn-primary @anterior"> Anterior</a>
        @using (Html.BeginForm("ListarProfVinculados", "Posgraduacao_Professor", FormMethod.Get))
        {

            @Html.TextBox("pagina" ,null, new { maxlength="3"})
            <div style="display:none;">
                @Html.TextBox("Filter", ViewBag.Filter as string)
                @Html.TextBox("Ordenar", ViewBag.OrdenarPg as string)
                <input type="submit" />
            </div>

        }
        <a asp-action="ListarProfVinculados" asp-route-id="@(ViewBag.Id)" asp-route-pagina="@(Model.PaginaInicial+1)" asp-route-Filter="@(ViewBag.Filter )" asp-route-Ordenar="@(ViewBag.OrdenarPg)" class="btn btn-primary @proximo"> Proximo</a>

    </div>
    <div class="paginationlocation">
        <p>@(
                 Model.PaginaInicial
                 ) de @(
           Model.TotalPaginas
           )</p>
    </div>
}
<script>

    function deletar(id_user,pos_id) {
       
        $.ajax({
            url: '/Posgraduacao_Professor/Delete',
            method: 'Get',
            data: { id: id_user,
                    posid: pos_id},
        }).done(function (valido) {
            if (valido.valido) {
                alert('Professor deletado com sucesso dessa Pós Graduação!')
                location.reload()
            } else {
                alert('Não foi possivel deletar o Professor dessa Pós Graduação!')
            }
        }).fail(function () {
            console.log("Erro2")
        });

    }

    function pesquisar () {

        
        var valor = $("#pesquisar").attr('href').replace("sub", $("#pesquisarnome").val())
        $("#pesquisar").attr("href", valor)
        
    }
    



</script>