@using X.PagedList.Mvc.Core
@using X.PagedList;
@using X.PagedList.Web.Common
@model IPagedList<SPCPP.Model.Models.Posgraduacao>


@{
    ViewData["Title"] = "Listagem de Pos Gradução";
}

<div class="text-center">
    <div class="d-grid gap-2 d-md-flex justify-content-md-start">
    </div>

    @if (TempData["MensagemSucesso"] != null)
    {
        <div class="alert alert-success" role="alert">
            <button type="button" class="btn btn-danger btn-sm close-alert" arial-label="Close">X</button>
            @TempData["MensagemSucesso"]
        </div>
    }

    @if (TempData["MensagemErro"] != null)
    {
        <div class="alert alert-danger" role="alert">
            <button type="button" class="btn btn-danger btn-sm close-alert" arial-label="Close">X</button>
            @TempData["MensagemErro"]
        </div>
    }

    <h1 class="display-4">Listagem de Pos Gradução</h1>
    <br />

    @using (Html.BeginForm("Index", "Posgraduacao", FormMethod.Get))
    {
        <p>
            Pesquisar por nome: @Html.TextBox("pesquisar", ViewBag.Filter as string)
            <input type="submit" value="Search" />
        </p>
    }

    <table class="table" id="table-posgraduacao">
        <thead>
            <tr>           
                <th scope="col">#</th>
                <th scope="col">@Html.ActionLink("Nome", "Index", new { Ordenar = ViewBag.NameParm, Filter=ViewBag.Filter })</th>
                <th scope="col">@Html.ActionLink("Nome do Curso", "Index", new { Ordenar = ViewBag.NameDoCursoParm, Filter=ViewBag.Filter })</th>
                <th scope="col">@Html.ActionLink("Campus do curso", "Index", new { Ordenar = ViewBag.CampusDoCursoParm, Filter=ViewBag.Filter })</th>
                <th scope="col">@Html.ActionLink("Descrição", "Index", new { Ordenar = ViewBag.DescricaoParm, Filter=ViewBag.Filter })</th>
                <th scope="col">@Html.ActionLink("Edital", "Index", new { Ordenar = ViewBag.EditalParm, Filter=ViewBag.Filter })</th>
                <th scope="col">@Html.ActionLink("Data de cadastro", "Index", new { Ordenar = ViewBag.DateParm , Filter=ViewBag.Filter})</th>
                <th scope="col">@Html.ActionLink("Data de atualização", "Index", new { Ordenar = ViewBag.DateAttParm , Filter=ViewBag.Filter})</th>


                <th scope="col"> <a role="button" class="btn btn-primary mb-0 " style="width:9.2rem!important" asp-controller="Posgraduacao" asp-action="Create">Novo Usuário</a></th>
            </tr>
        </thead>
        <tbody>
            @if (Model != null && Model.Any())
            {
                foreach (var posgraduacao in Model)
                {
                    <tr>
                        <th scope="row">@posgraduacao.id</th>
                        <td>@posgraduacao.nome</td>
                        <td>@posgraduacao.nome_curso</td>
                        <td>@posgraduacao.campus_curso</td>
                        <td>@posgraduacao.descricao</td>
                        <td>@posgraduacao.edital</td>
                        <td>@posgraduacao.DataCadastro</td>
                        <td>@posgraduacao.DataAtualizacao</td>
                        <td>
                            <div>
                                <a role="button" class="btn btn-primary" asp-route-id="@posgraduacao.id" asp-controller="Posgraduacao" asp-action="Editar">Editar</a>
                                <a role="button" class="btn btn-primary" asp-route-id="@posgraduacao.id" asp-controller="Posgraduacao_Professor" asp-action="ListarProfVinculados">Listar</a>
                                <a role="button" class="btn btn-danger" asp-route-id="@posgraduacao.id" onclick="deletar(@posgraduacao.id)">Deletar</a>
                                <a role="button" class="btn btn-primary" asp-route-id="@posgraduacao.id" onclick="incluir(@posgraduacao.id)">Cadastrar-se</a>
                            </div>
                        </td>
                    </tr>
                }
            }


        </tbody>
    </table>
    <br />
        
       
    
        @Html.PagedListPager(Model, pagina => Url.Action("Index",  new { pagina, Ordenar = ViewBag.OrdernarPg, Filter = ViewBag.Filter} )
        , new PagedListRenderOptions {
        //                                DisplayLinkToIndividualPages = true,
        //                                DisplayPageCountAndCurrentLocation = false,
        //                                MaximumPageNumbersToDisplay = 5,
        //                                LiElementClasses = new string[] { "page-item" },
        //                                PageClasses = new string[] { "page-link" },
                                        
                                 
                                        LinkToFirstPageFormat = " Primeira", 
                                         LinkToPreviousPageFormat = " Anterior", 
                                        LinkToNextPageFormat = "Próxima ",
                                        LinkToLastPageFormat = "Último"}
        )
        Pagina @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) de @Model.PageCount
</div>

<script>
    
    function deletar(id) {

        $.ajax({
            url: '/Posgraduacao/Delete',
            method: 'Get',
            data: { id: id },
        }).done(function (valido) {
            if (valido.valido) {
                alert('Pós Graduação deletada com sucesso!')
                location.reload()
            } else {
                alert('Não foi possivel deletar a Pós Graduação!')
            }
        }).fail(function () {
            console.log("Erro2")
        });

    }

    function incluir(id) {
        debugger;
        $.ajax({
            url: '/Posgraduacao_Professor/Incluir',
            method: 'Get',
            data: { posgraducao_id: id },
        }).done(function (valido) {            
            if (valido.valido) {
                alert('Cadastrado na Pós Graduação com sucesso!')
                location.reload()
            } else if (!valido.valido) {
                alert('Não foi possivel Cadastrar na Pós Gradução!')
            }
            else{
                alert(valido.mensagem)
            }
        }).fail(function () {
            console.log("Erro2")
        });

    }

</script>